* {
    margin: 0;
}

header {
    width: 100%;
}

h1, h2 {
    margin-top: 2rem;
}

main {
    margin: 0 auto;
    width: 60%;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

input[type=submit] {
    width: 8rem;
    margin-top: 1rem;
    padding: 0.5rem;
}